<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>logFormatVersion</key>
	<integer>10</integer>
	<key>logs</key>
	<dict>
		<key>2381BC53-82AF-4810-B0AB-A1A24B8F830C</key>
		<dict>
			<key>auxiliaryLogUniqueIdentifier</key>
			<string>637C6EF0-40A9-4C47-BCB2-A121BF2C641D</string>
			<key>auxiliaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>W</string>
			</dict>
			<key>className</key>
			<string>IDESchemeActionsInvocationRecord</string>
			<key>documentTypeString</key>
			<string>&lt;nil&gt;</string>
			<key>domainType</key>
			<string>com.apple.dt.unit.cocoaUnitTest</string>
			<key>fileName</key>
			<string>Run-napUITests-2021.05.04_09-59-40-+0000.xcresult</string>
			<key>hasAuxiliaryLog</key>
			<true/>
			<key>hasPrimaryLog</key>
			<true/>
			<key>primaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>T</string>
			</dict>
			<key>schemeIdentifier-containerName</key>
			<string>inseason-ios-apps project</string>
			<key>schemeIdentifier-schemeName</key>
			<string>napUITests</string>
			<key>schemeIdentifier-sharedScheme</key>
			<integer>1</integer>
			<key>signature</key>
			<string>Run napUITests</string>
			<key>timeStartedRecording</key>
			<real>641815180.90541399</real>
			<key>timeStoppedRecording</key>
			<real>0.0</real>
			<key>title</key>
			<string>Run napUITests</string>
			<key>uniqueIdentifier</key>
			<string>2381BC53-82AF-4810-B0AB-A1A24B8F830C</string>
		</dict>
	</dict>
</dict>
</plist>
